.TodoForm{
  width:100%;
  input[type=text]{
    color:green;
  }
  button{
    color:blue;
  }
  .PostTodo::before{
    content: "Post Todo";
  }
  .ClearTodo::before{
    @extend button;
    content: "Clear Todo";
  }
}
