html{
  height: 100%;
  font-family: arial;
  *{
    box-sizing:border-box;
  }
  body{
    padding:0;
    margin:0;
    background-color: #6495ed;
    height: 100%;
    width: 100%;
    h1{
      text-align: center;
      color: #000077;
    }
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      height:100%;
      padding:8px;
      @import './todo/todo-application.css';
    }
  }
}
